<h2>Name {{person.name}}</h2>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
    El campo es requerido
</p>


<div [ngSwitch]="person.name">
    <p *ngSwitchCase="'jose'">Jose</p>
    <p *ngSwitchCase="'carlos'">Carlos</p>
    <p *ngSwitchCase="'enrique'">Enrique</p>
    <p *ngSwitchDefault> Not Found</p>
</div>

<div>
    <h2> *ngFor Objs</h2>
    <div class="products--grid">
        <div *ngFor="let product of products">
            <img [src]="product.image" alt="image of {{product.name}}">
            <h2>{{product.price}}</h2>
            <h4>{{product.name}}</h4>
            <p>{{product.category}}</p>
        </div>
    </div>
</div>

<div>
    <input type="text" [(ngModel)]="newEmoji">
    <button (click)="addEmoji()">Add Emoji</button>
    <ul>
        <li *ngIf="emojis.length === 0">No hay emojis</li>
        <li *ngFor="let emoji of emojis; index as i">{{i}} -- {{emoji}}
            <button (click)="deleteEmoji(i)">Delete</button>
        </li>
    </ul>
</div>

<h2>Name {{person.name}}</h2>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid {{nameInput.valid}}</p>

<h2>Age {{person.age}}</h2>
<input type="number" min="1" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid {{ageInput.valid}}</p>

<p *ngIf="person.age>=18; else personAgeElse">Mayor de edad</p>

<ng-template #personAgeElse>
    <p>Menor d e edad</p>
</ng-template>
