<div>
    <input type="text" [(ngModel)]="newEmoji">
    <button (click)="addEmoji()">Add Emoji</button>
    <ul>
        <li *ngIf="emojis.length === 0">No hay emojis</li>
        <li *ngFor="let emoji of emojis; index as i">{{i}} -- {{emoji}}
            <button (click)="deleteEmoji(i)">Delete</button>
        </li>
    </ul>
</div>

<h2>Name {{person.name}}</h2>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid {{nameInput.valid}}</p>

<h2>Age {{person.age}}</h2>
<input type="number" min="1" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid {{ageInput.valid}}</p>

<p *ngIf="person.age>=18; else personAgeElse">Mayor de edad</p>

<ng-template #personAgeElse>
    <p>Menor de edad</p>
</ng-template>